<div id="sidebar">
 <header><h3>PIGEON</h3></header>
 <nav>
  <menu>
    <li><i class="fa-solid fa-inbox"></i><a href="/inbox">Inbox</a></li>
    <li><i class="fa-solid fa-address-card"></i><a href="/contacts">Contacts</a></li>
    <li><i class="fa-solid fa-calendar-days"></i><a href="/calendar">Calendar</a></li>
    <li><i class="fa-solid fa-cloud"></i><a href="/storage">Storage</a></li>
    <li><i class="fa-solid fa-gear"></i><a href="/settings">Settings</a></li>
   </menu>
 </nav>
</div>
