<header>
    <div class="search">
        <i class="fa-solid fa-magnifying-glass search-button"></i>
        <input type="text" name="search" id="search" />
    </div>
    <div class="message-menu">
        {% if request.endpoint == 'inbox' %}
        <menu>
            <li><i class="fa-solid fa-envelope"></i> Messages</li>
            <li><i class="fa-solid fa-pencil"></i> Drafts</li>
            <li><i class="fa-solid fa-paper-plane"></i> Sent</li>
        </menu>
        {% endif %}
    </div>

    <div class="menu-theme">
        <menu>
            <li></li>
            <li></li>
            <li>
                <img
                    src="{{ url_for('static', filename='images/image9.png')}}"
                    alt=""
                />
            </li>
        </menu>
    </div>
</header>
