<div class="menu-sidebar">
<header>
    <h2>Pigeon</h2>
</header>
<menu>
    <li><a href="{{ url_for('inbox') }}"><img src="{{ url_for('static', filename='images/inbox-solid.svg')}}" alt="">Inbox</a></li>
    <li><a href="{{ url_for('contacts') }}"><img src="{{ url_for('static', filename='images/rectangle-list-solid.svg')}}" alt="">Contacts</a></li>
    <li><a href="{{ url_for('calendar') }}"><img src="{{ url_for('static', filename='images/calendar-days-solid.svg')}}" alt="">Calendar</a></li>
    <li><a href="{{ url_for('storage') }}"><img src="{{ url_for('static', filename='images/hard-drive-solid.svg')}}" alt="">Storage</a></li>
    <li><a href="{{ url_for('settings') }}"><img src="{{ url_for('static', filename='images/gear-solid.svg')}}" alt="">Settings</a></li>
</menu>
<menu>
    <h4>Tags</h4>
    <li><a href="{{ url_for('tag', color='')}}">Family</a></li>
    <li><a href="{{ url_for('tag', color='')}}">Work</a></li>
    <li><a href="{{ url_for('tag', color='')}}">Friends</a></li>
</menu>
</div>
