<div class="message-container">
<header>
  <div class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="search" id="search">
  </div>
  <nav>
   <menu>
     <li><i class="fa-solid fa-envelope"></i>Messages</li>
     <li><i class="fa-solid fa-pencil"></i>Drafts</li>
     <li><i class="fa-solid fa-paper-plane"></i>Sent</li>
   </menu>
   <div class="profile"><img src="https://i.pravatar.cc/42?img=69" alt="User image"></div>
  </nav>
</header>
<div class="message-body">
<div class="inbox">
  <div class="messages">
     <div id="no-mail">
        <h4>No mail</h4>
     </div>
</div>
</div>
<main>
   <div class="message-content blank-message">
     <img src="/images/no_messages.png" alt="No messages">
     <div class="message-details">
       <h4>No messages</h4>
       <p>A selected message will display here</p>
     </div>
  </div>
 </div>
</main>
</div>
