{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row-container">
        {% include 'partials/menu.html' %}
        <div class="message-container">
            {% include 'partials/filter.html' %}
            <main>
                {% include 'partials/sidebar.html' %}
                <div class="main-content">
                    <div class="contact">
                        <header>
                            <div>
                                <span class="edit-contact"
                                    ><img
                                        src="{{ url_for('static', filename='images/user-pen-solid.svg') }}"
                                        alt=""
                                /></span>
                                <span class="tag"></span>
                                <span class="status"
                                    ><img
                                        src="{{ url_for('static', filename='images/image7.png') }}"
                                        alt=""
                                /></span>
                            </div>
                            <ul>
                                <li>Tasha Watkins</li>
                                <li>Software Engineer</li>
                                <li>@TechVision</li>
                            </ul>
                        </header>
                        <div class="contact-details">
                            <h4>Contact details</h4>
                            <ul>
                                <li>Email twatkins@ex.net</li>
                                <li>Mobile +19095151234</li>
                                <li>Address 1234 Somwhere Dr</li>
                            </ul>
                            <ul>
                                <li>
                                    <button
                                        type="button"
                                        id="video-call"
                                        name="video-call"
                                    >
                                        <i class="fa-solid fa-video"></i
                                        >&nbsp;Video call Tasha
                                    </button>
                                </li>
                                <li>
                                    <button
                                        type="button"
                                        id="remove-contact"
                                        name="remove"
                                    >
                                        Remove contact
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact-form">
                        <header>
                            <span>
                                <img
                                    src="{{ url_for('static', filename='images/user-pen-solid.svg') }}"
                                    alt=""
                                />
                            </span>
                        </header>
                        <form method="POST">
                            <h4>Add contact</h4>
                            <input
                                type="hidden"
                                name="csrf_token"
                                value="{{ csrf_token() }}"
                            />
                            <input type="text" name="name" placeholder="Name" />
                            <input
                                type="email"
                                name="email"
                                placeholder="E-mail"
                            />
                            <input
                                type="text"
                                name="company"
                                placeholder="Company"
                            />
                            <input
                                type="text"
                                name="title"
                                placeholder="Title"
                            />
                            <input
                                type="tel"
                                name="mobile"
                                placeholder="Mobile"
                            />
                            <select name="tag" id="tag-menu">
                                <option value="" selected>Add tag</option>
                                <option value="#ff0000">red</option>
                                <option value="#00ff00">blue</option>
                                <option value="#069494">teal</option>
                                <option value="#800080">purple</option>
                                <option value="#FFEF00">yellow</option>
                                <option value="#FF7518">orange</option>
                                <option value="#D3D3D3">silver</option>
                                <option value="#0BDA51">green</option>
                                <option value="#00FFEF">turquoise</option>
                            </select>
                            <textarea name="note" placeholder="Note"></textarea>
                            <input
                                type="submit"
                                name="submit"
                                value="Add contact"
                            />
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}
