{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row-container">
     {% include 'partials/menu.html' %}
      <div class="message-container">
         {% include 'partials/filter.html' %}
         <main>
             <div class="main-sidebar">
                <div class="sort-filter">
                   <select name="sort">
                      <option value="">Sort</option>
                      <option value="">A-Z</option>
                      <option value="">Date</option>
                   </select>
                   <span>Today</span>
                </div>
                <div class="sender-details">
                    <div class="left-content">
                       <span class="tag"></span>
                       <span class="status"><img src="{{ url_for('static', filename='images/image1.png') }}" alt=""></span>
                    </div>
                    <div class="right-content">
                       <p><span>Anna Slovaski</span>Sept 1</p>
                       <p>UI Designer position</p>
                       <p>Hello, I'm interested in your position at Encore...</p>
                    </div>
                </div>
                <div class="sender-details">
                    <div class="left-content">
                        <span class="tag"></span>
                       <span class="status"><img src="{{ url_for('static', filename='images/image1.png') }}" alt=""></span>
                    </div>
                    <div class="right-content">
                       <p><span>Anna Slovaski</span>Sept 1</p>
                       <p>UI Designer position</p>
                       <p>Hello, I'm interested in your position at Encore...</p>
                    </div>
                </div>
                <div class="sender-details">
                    <div class="left-content">
                       <span class="tag"></span>
                       <span class="status"><img src="{{ url_for('static', filename='images/image1.png') }}" alt=""></span>
                    </div>
                    <div class="right-content">
                       <p><span>Anna Slovaski</span>Sept 1</p>
                       <p>UI Designer position</p>
                       <p>Hello, I'm interested in your position at Encore...</p>
                    </div>
                </div>
                <div class="sender-details">
                    <div class="left-content">
                       <span class="tag"></span>
                       <span class="status"><img src="{{ url_for('static', filename='images/image1.png') }}" alt=""></span>
                    </div>
                    <div class="right-content">
                       <p><span>Anna Slovaski</span>Sept 1</p>
                       <p>UI Designer position</p>
                       <p>Hello, I'm interested in your position at Encore...</p>
                    </div>
                </div>
             </div>
             <div class="main-content">
                <img src="{{ url_for('static', filename='images/cloud-solid.svg')}}">
                <h4>No messages</h4>
             </div>
         </main>
      </div>
  </div>
</div>
{% endblock %}
