{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row-container">
     {% include 'partials/menu.html' %}
      <div class="message-container">
         {% include 'partials/filter.html' %}
         <main>
             <div class="main-sidebar">
                <div class="sort-filter">
                   <select name="sort">
                      <option value="">Sort</option>
                      <option value="">A-Z</option>
                      <option value="">Date</option>
                   </select>
                   <span>Today</span>
                </div>
                <div class="sender-details">
                    <div class="left-content">
                       <span class="tag"></span>
                       <span class="status"><img src="{{ url_for('static', filename='images/image1.png') }}" alt=""></span>
                    </div>
                    <div class="right-content">
                       <p><span>Anna Slovaski</span>Sept 1</p>
                       <p>UI Designer position</p>
                       <p>Hello, I'm interested in your position at Encore...</p>
                    </div>
                </div>
                <div class="sender-details">
                    <div class="left-content">
                        <span class="tag"></span>
                       <span class="status"><img src="{{ url_for('static', filename='images/image1.png') }}" alt=""></span>
                    </div>
                    <div class="right-content">
                       <p><span>Anna Slovaski</span>Sept 1</p>
                       <p>UI Designer position</p>
                       <p>Hello, I'm interested in your position at Encore...</p>
                    </div>
                </div>
                <div class="sender-details">
                    <div class="left-content">
                       <span class="tag"></span>
                       <span class="status"><img src="{{ url_for('static', filename='images/image1.png') }}" alt=""></span>
                    </div>
                    <div class="right-content">
                       <p><span>Anna Slovaski</span>Sept 1</p>
                       <p>UI Designer position</p>
                       <p>Hello, I'm interested in your position at Encore...</p>
                    </div>
                </div>
                <div class="sender-details">
                    <div class="left-content">
                       <span class="tag"></span>
                       <span class="status"><img src="{{ url_for('static', filename='images/image1.png') }}" alt=""></span>
                    </div>
                    <div class="right-content">
                       <p><span>Anna Slovaski</span>Sept 1</p>
                       <p>UI Designer position</p>
                       <p>Hello, I'm interested in your position at Encore...</p>
                    </div>
                </div>
             </div>
             <div class="main-content">
                 {% if not messages %}
                    <div class="message-content">
                        <header>
                            <div class="sender-details-header">
                               <div class="left-content">
                                  <img src="{{ url_for('static', filename='images/image1.png') }}" alt="">
                               </div>
                               <div class="right-content">
                                 <h4>Joan Williamson</h4>
                                 <p>Obsidian</p>
                                 <ul>
                                   <li><i class="fa-solid fa-trash-can"></i></li>
                                   <li><i class="fa-solid fa-video"></i></li>
                                 </ul>
                               </div>
                            </div>
                        </header>
                        <div class="message">
                            <span>Sept 2, 2025</span>
                            <h4>Web Developer position</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra tellus a turpis dapibus venenatis. Ut nec dolor mauris. Praesent porta lacus eget faucibus bibendum. Nulla facilisi. Quisque tortor tellus, blandit vel elit at, interdum luctus augue. Nunc eget imperdiet augue, nec pellentesque lacus. Aliquam eget nunc at nunc bibendum porttitor. Mauris sed massa vel nibh vulputate finibus. Nullam vitae molestie elit. Suspendisse at nisl non velit rutrum gravida. Aenean quis mi urna. Aenean egestas eros at eros viverra, eu volutpat tellus condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Phasellus elementum sem sed blandit bibendum. Sed et accumsan mi. Aenean ultrices non tellus eget varius. Mauris porta velit vel dolor accumsan, at sagittis velit condimentum. Praesent sed massa lorem. Nulla aliquam venenatis varius. Etiam vel mollis justo.
                            </p>
                            <p>
                                Fusce eget lacinia felis. Aenean at tortor commodo, ullamcorper augue et, commodo quam. Sed aliquet, enim eu laoreet sagittis, lectus felis blandit ipsum, eu gravida erat leo id velit. Duis ligula quam, placerat a hendrerit et, vestibulum in ligula. Mauris eu pretium dolor, sit amet imperdiet est. Quisque ac leo ac nunc congue ultricies. Etiam fermentum rhoncus elit id convallis. Sed vestibulum ornare arcu non imperdiet. Ut sit amet nisl metus. Aenean aliquam mauris vel lectus posuere, a semper erat pellentesque. Etiam fermentum et felis dapibus tristique. Praesent justo orci, dictum eget congue eu, rhoncus nec nisl.
                            </p>
                            <div id="message-reply">
                                <input type="text" name="message-reply" placeholder="Reply here">
                                <span id="add-attachment"><i class="fa-solid fa-paperclip"></i></span>
                                <span id="send-message"><a href="{{ send_message }}"><i class="fa-solid fa-paper-plane"></i></a></span>
                            </div>
                        </div>
                    </div>
                 {% else %}
                   <img src="{{ url_for('static', filename='images/cloud-solid.svg')}}">
                   <h4>No messages</h4>
                 {% endif %}
             </div>
         </main>
      </div>
  </div>
</div>
{% endblock %}
