{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row-container">
        {% include 'partials/menu.html' %}
        <div class="message-container">
            {% include 'partials/filter.html' %}
            <main>
                {% include 'partials/sidebar.html' %}
                <div class="main-content">
                    <div class="documents">
                        <header class="document-header">
                            <h4>All documents</h4>
                            <select name="document-filter">
                                <option value="documents">Documents</option>
                                <option value="audio">Audio</option>
                                <option value="image">Image</option>
                            </select>
                        </header>
                        <div class="content-card">
                            <header>
                                <ul>
                                    <li>FILENAME</li>
                                    <li>DATE ADDED</li>
                                    <li>TYPE</li>
                                </ul>
                            </header>
                            <div class="content">
                                <ul data-item="001">
                                    <li>Phoenix-1901.mp3</li>
                                    <li>An hour ago</li>
                                    <li>Audio</li>
                                    <li class="kebab-menu">&vellip;</li>
                                </ul>
                                <ul data-item="002">
                                    <li>Coldplay-Violet_Hill.mp3</li>
                                    <li>2 days ago</li>
                                    <li>Audio</li>
                                    <li class="kebab-menu">&vellip;</li>
                                </ul>
                                <ul data-item="003">
                                    <li>img001.png</li>
                                    <li>6 hours ago</li>
                                    <li>Image</li>
                                    <li class="kebab-menu">&vellip;</li>
                                </ul>
                                <ul data-item="004">
                                    <li>img002.jpg</li>
                                    <li>12 hours ago</li>
                                    <li>Image</li>
                                    <li class="kebab-menu">&vellip;</li>
                                </ul>
                                <ul data-item="005">
                                    <li>resume.doc</li>
                                    <li>2 weeks ago</li>
                                    <li>Document</li>
                                    <li class="kebab-menu">&vellip;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}
